geopandas==1.1.2
gymnasium==1.2.3
imbalanced_learn==0.14.1
imblearn==0.0
matplotlib==3.10.9
networkx==3.6.1
numpy==2.4.4
optuna==4.8.0
pandas==3.0.2
rasterio==1.4.4
rasterstats==0.20.0
sb3_contrib==2.7.1
scikit_learn==1.8.0
scipy==1.17.1
Shapely==2.1.2
stable_baselines3==2.7.1
torch==2.10.0
tqdm==4.67.3
kaleido==1.2.0
nbformat==5.10.4
plotly==6.7.0
